/**
 ***************************************************************************
 * Groot > _groot.scss
 ***************************************************************************
 *
 * The core functionality for Groot, including any project defaults,
 * modifiers and the classes themselves.
 *
 * $. Variables
 * $. Base
 * $. Modifiers
 * $. Build
 *
 */



/* $. Variables
 *
 * - All variables namespaced with $gr to prevent conflicts
 * - !default used to allow override capabilities
 *
\*----------------------------------------------------------------*/

// Namespacing
$gr-grid: "grid" !default;
$gr-grid-reversed: "grid--reversed" !default;
$gr-grid-centered: "grid--centered" !default;
$gr-item: "grid__item" !default;
$gr-item-centered: "grid__item--centered" !default;
$gr-unit: "grid__item" !default;

// Sizing
$gr-gutter: 1em !default;

// Grid alignment
$gr-grid-direction: inherit !default;
$gr-grid-align-x: inherit !default;

// Item alignment
$gr-item-direction: inherit !default;
$gr-item-align-x: inherit !default;
$gr-item-align-y: top !default;



/* $. Base
\*----------------------------------------------------------------*/

.#{$gr-grid} {
    box-sizing: border-box;
    display: block;
    padding: 0;
    margin: 0 0 0 -#{$gr-gutter};
    direction: $gr-grid-direction;
    text-align: $gr-grid-align-x;
}

.#{$gr-item} {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    margin: 0 -.25em 0 0;
    padding: 0 0 0 $gr-gutter;
    direction: $gr-item-direction;
    text-align: $gr-item-align-x;
    vertical-align: $gr-item-align-y;
}



/* $. Modifiers
\*----------------------------------------------------------------*/

.#{$gr-grid-reversed} {
    @if($gr-grid-direction == 'rtl') {
        direction: ltr;
    }
    @else {
        direction: rtl;
    }

    &:after {
        content: "";
        clear: both;
        display: table;
    }

    .#{$gr-item} {
        @if($gr-grid-direction == 'rtl') {
            margin: 0 -.25em 0 0;
        }
        @else {
            margin: 0 0 0 -.25em;
        }
    }
}

.#{$gr-grid-centered} {
    text-align: center;
}

.#{$gr-item-centered} {
    display: block;
    margin: 0 auto;
}



/* $. Build
\*----------------------------------------------------------------*/

/**
 * This Mixin is used to build out the Grid system. This takes two
 * parameters, one for the number of columns to create and the second
 * for at what breakpoint this should be created for.
 *
 * @param | int    | $cols   | Number of Columns to build
 * @param | string | $suffix | Suffix for the Class declaration
 *
 * @return class declartion
 */
@mixin groot($cols, $suffix: '')
{
    /**
     * Loop through $cols
     */
    @each $col in $cols {

        /**
         * Create a loop ending with 1 less than the $col parameter
         */
        @for $i from 1 through $col {

            /**
             * Get the length of the $suffix parameter
             */
            $suffixL: str-length($suffix);

            /**
             * If a breakpoint has been declared, declare the class
             * for that breakpoint.
             */
            @if($suffix != '' and $suffixL >= 1 ) {

                /**
                 * Declare a class based on $col number AND breakpoint
                 */
                .#{$gr-unit}--#{$i}-#{$col}-#{$suffix} {
                    width: percentage($i / $col);
                }
            } @else {

                /**
                 * Declare a class based on $col number
                 */
                .#{$gr-unit}--#{$i}-#{$col} {
                    width: percentage($i / $col);
                }
            }

        }
    }
}
