/**
 ***************************************************************************
 * Nobble > _config.scss
 ***************************************************************************
 *
 * Used to setup any variables, functions or mixins that are required
 * for this system.
 *
 * $. Variables
 *
 */



/* $. Variables
 *
 * - All variables namespaced with $nbl to prevent conflicts
 * - !default used to allow override capabilities
 *
\*----------------------------------------------------------------*/

/**
 * Default namespace for the Grid's Container & Items respectively
 */
$nbl-container: "grid" !default;
$nbl-item: "grid__item" !default;

/**
 * Default space between Grid Items
 */
$nbl-gutter: 1em !default;

/**
 * Default direction, text-align and vertical-align properties.
 */
$nbl-direction: inherit !default;
$nbl-align-x: inherit !default;
$nbl-align-y: top !default;
