/**
 ***************************************************************************
 * Groot > assets/app/groot.scss
 ***************************************************************************
 *
 * Used to act as a master file to import all partials needed to make
 * this system work
 *
 * $. Config
 * $. Grid
 * $. Demo
 *
 */



/* $. Config
\*----------------------------------------------------------------*/

// Namespacing
$gr-grid: "grid";
$gr-item: "grid__item";
$gr-unit: "grid__item";

// Sizing
$gr-gutter: 1em;

// Grid alignment
$gr-grid-direction: inherit;
$gr-grid-align-x: inherit;
$gr-grid-align-y: top;

// Item alignment
$gr-item-direction: inherit;
$gr-item-align-x: inherit;
$gr-item-align-y: top;



/* $. Grid
\*----------------------------------------------------------------*/

@import "grid";



/* $. Demo
\*----------------------------------------------------------------*/

@import "demo";

@include groot(12);

@media (min-width: 30em) {
    @include groot(12 5, 'bp1');
}

@media (min-width: 50em) {
    @include groot(12 5, 'bp2');
}

@media (min-width: 70em) {
    @include groot(12 5, 'bp3');
}
