/**
 ***************************************************************************
 * Nobble > nobble.scss
 ***************************************************************************
 *
 * Used to act as a master file to import all partials needed to make
 * this system work
 *
 * $. Config
 * $. Grid
 * $. Demo
 *
 */



/* $. Config
\*----------------------------------------------------------------*/

// Namespacing
$nbl-grid: "grid";
$nbl-item: "grid__item";
$nbl-unit: "grid__item";

// Sizing
$nbl-gutter: 1em;

// Grid alignment
$nbl-grid-direction: inherit;
$nbl-grid-align-x: inherit;
$nbl-grid-align-y: top;

// Item alignment
$nbl-item-direction: inherit;
$nbl-item-align-x: inherit;
$nbl-item-align-y: top;

/* $. Grid
\*----------------------------------------------------------------*/

@import "grid";



/* $. Demo
\*----------------------------------------------------------------*/

@import "demo";


@include nobble(12);

@media (min-width: 30em) {
    @include nobble(12 5, 'bp1');
}

@media (min-width: 50em) {
    @include nobble(12 5, 'bp2');
}

@media (min-width: 70em) {
    @include nobble(12 5, 'bp3');
}
