/**
 ***************************************************************************
 * Skillet > Skillet.scss
 ***************************************************************************
 *
 * Used to act as a master file to import all partials needed to make
 * this system work
 *
 * $. Config
 * $. Grid
 * $. Demo
 *
 */



/* $. Config
\*----------------------------------------------------------------*/

// Namespacing
$skil-grid: "grid";
$skil-item: "grid__item";
$skil-unit: "grid__item";

// Sizing
$skil-gutter: 1em;

// Grid alignment
$skil-grid-direction: inherit;
$skil-grid-align-x: inherit;
$skil-grid-align-y: top;

// Item alignment
$skil-item-direction: inherit;
$skil-item-align-x: inherit;
$skil-item-align-y: top;

/* $. Grid
\*----------------------------------------------------------------*/

@import "grid";



/* $. Demo
\*----------------------------------------------------------------*/

@import "demo";


@include skillet(12);

@media (min-width: 30em) {
    @include skillet(12 5, 'bp1');
}

@media (min-width: 50em) {
    @include skillet(12 5, 'bp2');
}

@media (min-width: 70em) {
    @include skillet(12 5, 'bp3');
}
